
<div class="container">
    <div class="title">
        <p>Title:<span>{{movie.Title}}</span></p>
    </div>
    <div class="language">
        <p>Language:<span>{{movie.Language}}</span></p>
    </div>
    <div class="subtitle">
        <p>Subtitle:
            <span>
            {{
                movie.Subtitle
            }}
            </span>
        </p>

    </div>
    <div class="addedDate">
        <p>Added on site: <span>{{formatDate(movie.AddedDate)}}</span></p>
    </div>
    <div class="movieReleaseDate">
        <p>Movie Release Date:<span> {{movie.MovieReleaseDate}}

            </span>
        </p>
    </div>
</div>