
<mat-toolbar class="navbar">
    <div class="title">
        <h1
        routerLink="feed" 
        ><span class="bitches"
            >Bitches</span>Online</h1>
    </div>
    <div class="links">
        <div class="baseLinks">
            <a mat-button routerLink="feed" class="moviesLink">
                Videos
            </a>
            <a mat-button routerLink="favoriteMovies"
            *ngIf="isLoggedIn()"
            >
                Favorite videos
            </a>
            <button mat-raised-button [matMenuTriggerFor]="menu"
            *ngIf="isLoggedIn() && isAuthorized('USER')" hidden
            >Manage videos</button>
            <mat-menu #menu="matMenu"
            >
                <a mat-button
                (click)="openAddMovieDialog('USER')"
                >
                    Add Movie
                </a>
                <a mat-button

                (click)="openMoviesDialog('USER')"
                >
                    Edit movies
                </a>
            </mat-menu>
           
        </div>
        
       
        <div class="securityLinks">
            <a mat-button routerLink="signUp"
            *ngIf="!isLoggedIn()"
            >
                Sign Up
            </a>
            <a mat-button routerLink="login"
            *ngIf="!isLoggedIn()"
            >
                Login
            </a>
            <a mat-button (click)="signOut()"
            *ngIf="isLoggedIn()"
            >
                Sign Out
            </a>
        </div>

        
    </div>
</mat-toolbar>