


.container
{
    width:90%;
    margin:0rem auto;
}

table 
{
    width: 99%;
    margin:0rem auto;
}

.mat-column-Title,.mat-column-AddedDate,.mat-column-Update,.mat-column-Delete 
{
    width:25%;
    text-align: center;
}

.searchMovieByTitle
{
    width:50%;
    margin:.5rem auto;
}

.search 
{
    display:flex;
    padding:0rem .5rem;
}


