<div class="container">
    <div class="filters">
       <div class="searchBar">
        <mat-form-field>
            <mat-label>Search videos...</mat-label>
            <input type="text" matInput [formControl]="$any(filterFormGroup().get('Title'))"
            >
            <span matSuffix>
                <mat-icon>
                    search
                </mat-icon>
            </span>
        </mat-form-field>
        <span class="danger" *ngIf="$any(filterFormGroup().get('Title')).invalid 
                && $any(filterFormGroup().get('Title')).value.length > 0">
                    Max 100 characters for searching
            </span>
       </div>
       <div class="movieGenre">
        <mat-form-field>
            <mat-label>
                Categories 
            </mat-label>
            <mat-select [formControl]="$any(filterFormGroup()).get('Categories')" multiple>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>   
        </mat-form-field>
       </div>
       <div class="BeginAddedDate">
        <mat-form-field>
            <mat-label class="addedDate">Begin added date</mat-label>
            <input type="date" matInput [formControl]="$any(filterFormGroup().get('BeginAddedDate'))"
            >
          </mat-form-field>
       </div>
       <div class="EndAddedDate">
        <mat-form-field>
            <mat-label class="addedDate">End added date</mat-label>
                <input type="date" matInput [formControl]="$any(filterFormGroup().get('EndAddedDate'))"
                >
          </mat-form-field>
       </div>
       <div class="actions">
        <button mat-raised-button (click)="searchMovies()">search</button>
       </div>
       
    </div>
    <div class="movies">
       <mat-grid-list [cols]="breakpoint" rowHeight="20rem"  
       (window:resize)="onResize($event)"
       gutterSize="2rem">
            <mat-grid-tile *ngFor="let movie of movies" >
                <mat-card>
                    <img mat-card-image src="{{movie.movieImageURL}}" 
                    (mouseenter)="fileChangeEvent($event,movie)" (mouseleave)="fileChangeEvent($event,movie)"
                    
                    >

                    <mat-card-header class="movie_header">
                        <mat-card-title class="movieTitle">
                          <a (click)="getMovie(movie.id,movie.title)"
                          class="titleLink"
                          > {{restrictChars(movie.title)}} 
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{formatDate(movie.addedDate)}}
                            <span class="viewCounter">{{movie.views}} Views</span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            
       </mat-grid-list>
    </div>
    <div class="pagination">
        <input type="number"  [formControl]="$any(filterFormGroup().get('MoviesPerPage'))" min="1"  placeholder="Movies per page">
        <button *ngIf="getPrevPage() != null" class="btn"
        (click) = "searchMovies(getPrevPage()!)"
        mat-button>
            Prev Page
        </button>
        <button mat-button color="primary" class="btn"
        *ngFor="let page of counter(getPaginationData!.TotalPages);let j = index"
        (click) = "searchMovies(page)"
        >
        {{j+1}}
        </button>
        <button *ngIf="getNextPage() != null" class="btn"
        (click) = "searchMovies(getNextPage()!)"
        mat-button>
            Next Page
        </button>

    </div>
</div>