

<div class="container">
    <div class="container_login">
        <div class="title">
           <h1>Sign Up</h1>
        </div>
        <div class="login_inputs">
            <div class="name">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" placeholder="Your username" 
                    [formControl]="$any(signUpForm).get('Name')" matInput>
                </mat-form-field>
            </div>
            <div class="danger"
            *ngIf="$any(signUpForm).get('Name').invalid 
                && $any(signUpForm).get('Name').value.length > 0"
            >
            Max 50 characters per username
            </div>
            <div class="email">
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input type="text" placeholder="Email address"
                    [formControl]="$any(signUpForm).get('Email')" matInput>
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" placeholder="Password" 
                    [formControl]="$any(signUpForm).get('Password')" matInput>
                </mat-form-field>
                <div class="danger"
                *ngIf="$any(signUpForm).get('Password').invalid 
                    && $any(signUpForm).get('Password').value.length > 0"
                >
                Max 50 characters per password
                </div>
            </div>
            <div>
                <div class="danger" *ngIf="!$any(signUpForm).valid">
                    All fields must be filled and email address be valid
                </div>
                <button 
                [disabled]="!$any(signUpForm).valid"
                (click)="signUp()" mat-raised-button color="basic">Sign up</button>
            </div>
        </div>
        
    </div>
</div>